*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bodybg: rgb(231, 152, 5);
    
    --cardbg: linear-gradient(20deg,
                    rgb(16, 20, 73),
                    rgb(10, 72, 114),
                    rgb(58, 55, 55));
    
    --fontfamily: font-family: 'Dancing Script', cursive;
        font-family: 'Noto Serif', serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Reggae One', cursive;
}
body{
    background: var(--bodybg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    width: 470px;
    max-width: 450px;
    height: 300px;
    background: var(--cardbg);
    position: relative;
    border-radius: 20px;
    box-shadow: 0 10px 20px 5px rgba(13, 17, 83, 0.5);
}
img{
    height: 500px;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.content{
    width: 50%;
    height: 100%;
    position: absolute;
    padding: 20px;
}
h2{
    font-size: 40px;
    color: #fff;
    margin-bottom: 10px;
    opacity: 0;
}
p{
    font-size: 15px;
    color: #fff;
    margin-bottom: 20px;
    opacity: 0;
}
a{
    text-decoration: none;
    background: #fff;
    color: #000;
    border-radius: 3px;
    padding: 7px 20px;
    opacity: 0;
}
a:hover{
    color: #fff;
    background: var(--bodybg);
}
.card:hover img{
    top:25%;
    left: 70%;
    width: 70%;
    height: 450px;
    transition: .4s;
}
.card:hover h2,
.card:hover p,
.card:hover a{
    opacity: 1;
    transition: .6s all;
}